@font-face {
  font-family: "Roman";
  src: url("../assets/Franklin\ Gothic\ Std/Roman.otf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "StagSans-semibold";
  src: url("../assets/Stag/Stag\ Sans/Stag\ Sans-Semibold.otf");
}

@font-face {
  font-family: "Stag-semibold";
  src: url("../assets/Stag/Stag/Stag-Semibold.otf");
}

@font-face {
  font-family: "StagSans-medium";
  src: url("../assets/Stag/Stag\ Sans/Stag\ Sans-Medium.otf");
}

@font-face {
  font-family: "StagSans-book";
  src: url("../assets/Stag/Stag\ Sans/Stag\ Sans-Book.otf");
}
body {
  margin: 0;
}
